<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF7iFmRSOkuI7bRt5PFUXmb6yB8tCtNfc</string>
	<key>GCM_SENDER_ID</key>
	<string>536027553964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CBACompany.GOAVOID</string>
	<key>PROJECT_ID</key>
	<string>woo-game-db</string>
	<key>STORAGE_BUCKET</key>
	<string>woo-game-db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536027553964:ios:6f3e2dd7aafeb053c6bf09</string>
</dict>
</plist>